<% include("partials/header") %>

<link rel="stylesheet" href="/app.css">

<p>hello</p>
<img src="https://www.askideas.com/media/36/Smiling-Funny-Weird-Photoshopped-Face-Photo.jpg" alt="i am the tittyboy">

<% include("partials/footer") %>