<h1>this is the secret page</h1>

<img src="https://preview.redd.it/w83yq2mkop251.png?width=686&auto=webp&s=db438071cdecbe1f0397c49be323d4feadec823a" alt="">

<li><a href="/register">sign up</a></li>
<li><a href="/login">log in</a></li>
<li><a href="/logout">log out</a></li>